<% layout("./layouts/boilerplate.ejs")%> 
<body> 
   
<div class="row">
<div class="col-8 offset-2">
     <h3> <%= hotel.title %> </h3>
<form action="">
    <div class="mb-3">
        <div class="card card-show listing-card " >
            <img src="<%= hotel.image.url %> " class="card-img-top show-img" alt="...">
            <div class="card-body">
                <p> Hotel owner : <%= hotel.owner.username %> </p>
              </div></div>
    </div>
    <h6> Hello <%= curruser.username %> Welcome to our booking Page please select the date to book : </h6>
    <div class="row">
    <div class="mb-3  col-4 "> 
        <label for="From" > From </label>
        <input type="date" class="form-control" required> 
    </div>
    <div class="mb-3 col-4 ">
        <label for="To" > To </label>
        <input type="date" class="form-control" required> 
    </div>
</div>
<h6> Price of the hotel : <%= hotel.price  %> </h6>
<h6> additional taxes   : <%= 0.18 *  hotel.price  %></h6>
<h6> total Price : <%= hotel.price + (0.18 * hotel.price) %></h6>
<button class="btn btn-dark edit-btn"> Submit </button>

</form>
</div>
</div>
</body>